*{
    margin:0;
    padding:0;
    font-family: "Segoe UI",sans-serif;
    font-weight: 400;
}
body{
    background:#009688;
    max-width:800px;
    margin:auto;
}
header{
    position:relative;
    background: #373737;
}
header h1{
    text-align: center;
    color:white;

    font-size: 2.5em;
    padding:5vh 0 5vh 0;
}
nav ul{
    text-align:center;
    border-radius: 5px;
    color:white;
    transition: .5s;
    font-size: 1.1em;
    width:100px;
    cursor: pointer;
    position:absolute;
    right:0;
    top:75%;
    margin:.5em 0 0 0;
    list-style: none;
    height:1.2em;
    overflow: hidden;
    background:#373737;
    padding: 0 10px 0 10px;
}
#menuButtonOff{
    display:none;
}
nav a{
    text-decoration: none;
    color:white;
}
main{
    max-width:800px;
    margin:auto;
}

main p{
    margin:5vh 5vw 5vh 5vw;
    text-align: justify;
    color:white;
    text-shadow: 1px 1px 1px #373737;
}
